/****** General ***********/
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --typo-properties: Raleway, sans-serif;
    --typo-style: normal;
    --typo-line-height: normal;
}

body, h1, h2, h3, h4, h5, h6, p {
    font-family: var(--typo-properties);
    font-style: var(--typo-style);
    line-height: var(--typo-line-height);
  }

.fa-solid {
    color: var(--main-color);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 40px 0;
}

.logo {
    display: flex;
    padding: 5px 0 15px 0;
    flex-direction: column;
}

.logo img {
    width: 61.09px;
    height: 19px;
}

.menu {
    display: flex;
    padding: 0px 50px;
    align-items: center;
}

.menu a{
    color: #000000;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin : 0 35px;

}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.info{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}
.headline{
    display: flex;
    flex-direction: column;
    margin: 0 0 35px 0;
}

.first-headline{
    align-self: stretch;    
    color: #000;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin : 0 0 10px 0;
}

.second-headline{
    align-self: stretch;
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.search-bar {
    display: flex;
    width: 377px;
    height: 49px;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    background: #FFF;
    margin: 0 0 35px 0;
}

.button-text {
    color: white;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.localisation-grey{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 49px;
    border-radius: 15px 0 0 15px;
    background: #F2F2F2;
}

#localisation-icon {
    color: black;
}

.search-text{
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin:  23px 23px;
}
.blue-search {
    display: flex;
    width:134px;
    height: 49px;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
    border: 1px solid  #0065FC;
    background-color:  #0065FC;
}

.filter-bar{
    display: flex;
    height: 50px;
    margin-bottom: 35px;
    align-items: center;
}
.filter-text{
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.filter-button{
    display: flex;
    height: 50px;
    padding: 4px 19px;
    align-items: center;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    background-color: white;
    margin : 0 10px;
}
.filter-button:hover{
    background: #DEEBFF;
}

.filter-text-button{
    color:  #000;
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;
}
.info-bar{
    display: flex;
    height: 24px;
    align-items: center;
}
.info-icon{
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    border-radius: 50%; /* Utilisez 50% pour obtenir un cercle */
    margin-right: 10px;
}
.info-bar-text{
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.section-title {
    margin: 0;
    font-size: 22px;
}

.hebergements {
    width: 65%;
    padding: 30px;
}

.hebergements-row {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    }


.hebergements .card{
    display: flex;
    flex-direction: column;
    background: #FFF;
    width: 234px;
    height: 192px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    padding-bottom: 15px;
}
.hebergements .card img{
    height: 60%;
    border-radius: 20px 20px 0 0;
}
.hebergements .card-content{
    padding-left: 15px;
}
.hebergements .card-text{
    margin-bottom: 8px;
}
.hebergements .card-title{
    margin-top: 12px;
    margin-bottom: 9px;
}

.hebergements .card-subtitle{
    margin: 0;
}


.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}
