/****** General ***********/
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --typo-properties: Raleway, sans-serif;
    --typo-style: normal;
    --typo-line-height: normal;
}

body, h1, h2, h3, h4, h5, h6, p {
    font-family: var(--typo-properties);
    font-style: var(--typo-style);
    line-height: var(--typo-line-height);
  }

.fa-solid {
    color: var(--main-color);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 40px 0;
}

.logo {
    display: flex;
    padding: 5px 0 15px 0;
    flex-direction: column;
}

.logo img {
    width: 61.09px;
    height: 19px;
}

.menu {
    display: flex;
    padding: 0px 50px;
    align-items: center;
}

.menu a{
    color: #000000;
    text-align: center;
    font-size: 16px;
    margin : 0 35px;

}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.info{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}
.headline{
    display: flex;
    flex-direction: column;
    margin: 0 0 35px 0;
}

.first-headline{
    align-self: stretch;    
    color: #000;
    font-size: 22px;
    font-weight: 700;
    margin : 0 0 10px 0;
}

.second-headline{
    align-self: stretch;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.search-bar {
    display: flex;
    width: 377px;
    height: 49px;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    background: #FFF;
    margin: 0 0 35px 0;
}

.button-text {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.localisation-grey{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 49px;
    border-radius: 15px 0 0 15px;
    background: #F2F2F2;
}

#localisation-icon {
    color: black;
}

.search-text{
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin:  23px 23px;
}
.blue-search {
    display: flex;
    width:134px;
    height: 49px;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
    border: 1px solid  #0065FC;
    background-color:  #0065FC;
}

.filter-bar{
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    margin-bottom: 35px;
    align-items: center;
}
.filter-text{
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

.filter-button{
    display: flex;
    height: 50px;
    padding: 4px 19px;
    align-items: center;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    background-color: white;
    margin : 0 10px;
}
.filter-button:hover{
    background: #DEEBFF;
}

.filter-text-button{
    color:  #000;
    font-size: 17px;
    font-weight: 700;
    margin-left: 10px;
}
.info-bar{
    display: flex;
    height: 24px;
    align-items: center;
}
.info-icon{
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    border-radius: 50%; /* Utilisez 50% pour obtenir un cercle */
    margin-right: 10px;
}
.info-bar-text{
    color: #000;
    font-size: 16px;
    font-weight: 400;
}
.section-title {
    margin: 0;
    font-size: 22px;
}

.hebergements {
    width: 65%;
}
.hebergements-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin : 30px 0 30px 0;
}

.hebergements-cards .card{
    display: flex;
    flex-direction: column;
    background: #FFF;
    width: 234px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.hebergements-cards .card-content{
    padding-left: 15px;
}

.hebergements-cards .card-title{
    font-size: 16px;
    font-weight: 700;
    margin-top: 9px;
    margin-bottom: 9px;
}

.hebergements-cards .card-subtitle{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.hebergements-cards .card img{
    height: 60%;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-text{
    margin-bottom: 6px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 39px;
    box-sizing: border-box;
}

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 4px;
    margin-bottom: 9px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.activities{
   display: flex;
   flex-direction: column;
   padding: 29px;
   gap: 13px;
}
.activities-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.activities-cards .card{
    display: flex;
    width: calc(25% - 23px);
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    padding: 0;
}

.activities-cards img{
    height: 380px;
    border-radius: 20px 20px 0px 0px;
}

.activities-cards h3{
    font-size: 16px;
    font-weight: 700;
    padding-left: 30px;
}

footer{
    padding: 0 0 0 25px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    background:#F2F2F2;
}

.footer-item{
    width: calc(15% - 23px);
}

#about{
    margin-right: 246px;
}
#about-hebergement{
    margin-right: 290px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

 
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements{
        background-color: white !important;
    }

    header{
       flex-direction: column;
    }

    .populaires-cards{
        flex-direction: column;
    }
    .populaires-cards .card{
        width:100%;
    }


    .hebergements-cards .card{
        width:100%;
    }

    .activities-cards {   
    flex-direction: column;        
    }

    .activities-cards .card {
        width:100%;
    }  
}
